<% content_for :custom_scripts do %>

<%= javascript_tag do %>
 $(document).ready(function () {
  <% @tab_hash.each do |taber,cols| %>
  $("img#refresh_<%=taber %>").hide();
   $("a#<%=taber %>_a").hide();
   $("span.<%=taber %>_span").hide();
   $("#<%=taber %>_table").hide();


   $('#vert_class_<%= taber %>').click(function() {
      alert("Hello");
   });

   $("a#<%=taber %>").bind("ajax:before", function(et, e){
     if( $("span.<%=taber %>_span").is(":visible") ) {
         $('table.datTables').hide();
         $("#<%=taber %>_table").show();
         $('a.refresh_button').hide();
         $("a#<%=taber %>_a").show();
         return false;
        }
      else
         $("img#refresh_<%=taber %>").show();

   });

   $("a#<%=taber %>").bind("ajax:complete", function(et, e){

        $("#<%=taber %>_table").append(e.responseText); // insert content
        $("img#refresh_<%=taber %>").hide();
        $('a.refresh_button').hide();
        $("a#<%=taber %>_a").show();
        $("span.<%=taber %>_span").show();
        $('table.datTables').hide();

        $("#<%=taber %>_table").show();

  });


   $("a#<%=taber %>_a").bind("ajax:complete", function(et, e){
         $('tr').remove('.row-contents');
         $('tr').remove('.next-button');
        $("#<%=taber %>_table").append(e.responseText); // insert content
        $("img#refresh_<%=taber %>").hide();
        $('a.refresh_button').hide();
        $("a#<%=taber %>_a").show();
        $("span.<%=taber %>_span").show();
        $('table.datTables').hide();

        $("#<%=taber %>_table").show();

  });



 <% end %>

  });
<% end %>


<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Db name:</b>
  <%= @dashboard.db_name %>
</p>

<%= link_to 'Edit', edit_dashboard_path(@dashboard) %> |
<%= link_to 'Back', dashboards_path %>

<h3>Tables</h3>
<% @tab_hash.each do |table,columns| %>
  <ul  id="freedom" class="idTabs"><%= link_to table,"/dashboards/query/#{@dashboard.db_name}/#{table}/0" ,:remote=>true,:class=>"table_name",:id=>table %>

     <img src="../assets/loading.gif" alt="alternative text" width='24px' height='24px' id="refresh_<%= table%>" />
    <% columns.each do |key,value| %>
        <%   value.each do |k,v| %>
            <li><%= k %>&nbsp;(&nbsp;<%= v %>&nbsp;)</li>
        <% end %>

    <% end %>
  </ul>

<% end %>




<div class='tabContainer'>

    <% @tab_hash.each do |table,columns| %>
    <%= link_to "Refresh", "/dashboards/query/#{@dashboard.db_name}/#{table}/0", :id=>"#{table}_a",:remote=>true, :class=>'refresh_button' %><span class='<%=table %>_span'></span>
    <div id="vert_<%=table %>">
    <table id='<%=table %>_table' style="position:absolute;" class="datTables">
        <tr>
         <% columns.each do |column,value| %>
              <%   value.each do |k,v| %>
                    <th><%=k %></th>
              <% end %>

         <% end %>
        </tr>

    </table>
    </div>


    <% end %>



</div>


